@media screen and (max-width: 1366px){
    .sidemenu{
        opacity: 0;
    }
}

@media screen and (max-width: 1081px){
    .abosolute-footer{
        margin: 0 50px;
    }
    .footer-details{
        margin: 0 50px;
        padding-right: 20px;
    }
    .skill-container{
        margin: 0 50px;
    }
    .web-project-info{
        grid-template-columns: 80%;
        row-gap: 20px;
    }
    .ui-info{
        padding-left: 2em;
        margin-right: 50px;
    }
    .aboutme{
        margin: 50px;
    }
    .hero-info{
        grid-template-rows: 200px 70px 50px;
        font-size: 1em;
    }
}

@media screen and (max-width: 768px){
    .footer-details{
        display: block;
        padding-right: 50px;
    }
    .footer-info{
        padding: 0;
    }
    footer{
        display: block;
        height: auto;
        margin-bottom: 80px;
    }
    
    .footer-info{
        margin-bottom: 40px;
    }
    .skill-list{
        align-items: flex-end;
    }
    .skill-list p{
        font-size: 0.8em;
    }
    .web-project-image{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 300px);
    }
    .project-web{
        grid-template-rows: auto auto;
    }
    .projectui{
        grid-template-rows: 270px;
        grid-template-columns: 100%;
    }
    .ui-images{
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 250px);
    }
    .ui-info{
        grid-row: 1/3;
        justify-items: center;
        grid-template-rows: 40px 100px 50px;
        text-align: center;
    }
    .about{
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }
    .about-info{
        grid-template-columns: 100%;
        padding: 20px;
        grid-template-rows: 50px 150px
    }
    .about-image{
        display: none;
    }
    .hero-title p{
        font-size: 1.5em;
    }
    .hero-title h2{
        font-size: 5em;
    }
}

@media screen and (max-width: 481px){

    .abosolute-footer{
        display: block;
        text-align: center;
    }
    .abosolute-footer .project{
        margin-bottom: 1em;
    }
    
    .footer-details{
        margin: 0 40px;
        padding: 0;
    }
    .skill-container{
        margin: 0 20px;
    }

    .skill-list{
        display: block;
    }
    .skill-list p{
        margin-top: 10px;
    }
    
    .web-project-info{
        display: block;
    }
    .web-project-info p{
        margin: 30px 0;
    }
    .project-web{
        grid-template-rows: auto auto;
    }

    .interest .fab, .interest .fas{
        font-size: 2em;
    }
    .ui-images{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 250px);
    }
    .ui-info{
        grid-template-rows: 40px 120px 50px;
    }
    .about-info{
        grid-template-rows: auto;
    }
    .hero-title{
        padding: 0 20px;
    }
    .hero-title p{
        font-size: 1em;
    }
    .hero-title h2{
        font-size: 4em;
    }
    .hero-social{
        margin-top: 50px;
    }
    .menu{
        display: none;
    }
    .nav{
        grid-template-columns: 100%;
        margin: 0 50px;
        justify-items: end;
    }
    .hamburger{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }
    .sidemenu{
        opacity: 1;
    }
}

@media screen and (max-width: 366px){
    .abosolute-footer .design{
        font-size: 0.95em;
    }
    .footer-details{
        margin: 0 34px;
        padding: 0;
    }
    .web-project-image{
        grid-template-rows: repeat(4, 180px);
    }
    .interest p{
        font-size: 0.7em;
    }
    .projectui{
        grid-template-rows: 380px;
    }

    .ui-images{
        grid-template-rows: repeat(3, 200px);
    }
    .ui-info{
        grid-template-rows: 40px 210px 50px;
    }
    .aboutme {
        margin: 20px;
    }
    .arrow{
        transform: rotate(0deg);
        font-size: 1.2em;
        animation: proyectos-responsive 900ms alternate infinite ease-in-out;
    }
    .hero-title p{
        font-size: 1.3em;
    }
    .hero-social{
        margin-top: 120px;
    }
    .arrow{
        bottom: -20%;
    }
    .hamburger{
        margin: 0 20px;
    }
}